@charset "UTF-8";
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,img,hr { margin: 0; padding: 0; }
h1,h2,h3,h4,h5,h6 { font-size: 100%;font-family: "Times New Roman",'Hiragino Mincho ProN',"ＭＳ 明朝","Hiragino Mincho Pro",serif; !important; font-weight: normal; }
/*--- default */
body { -webkit-text-size-adjust: 100%;font-size: 90%;color: #666;font-family:'Hiragino Mincho ProN',"ＭＳ 明朝","Hiragino Mincho Pro",serif; }
img { vertical-align: bottom; border:none}
li {list-style:none}
/*-- link */
a:link { color: #666; text-decoration: underline; }
a:visited { color: #666; text-decoration: underline;}
a:active { color: #515151; text-decoration: underline; }
a:hover { color: #515151; text-decoration: underline; }
a:focus { outline: none; }

/*--- clearfix */
div { /*for IE5.5-7*/ zoom: 1; }
div:after,dl:after { /*for modern browser*/ content: "."; display: block; visibility: hidden; height: 0; line-height: 0; clear: both; }
.clear { clear: both;height:0px}
.left{ float:left;}
.right{ float:right;}
.text_center{ text-align: center;}

/* padding, margin */
.pt04{ padding-top:4px }
.pt10{ padding-top:10px }
.pt30{ padding-top:30px }
.pt50{ padding-top:50px }
.pr0{ padding-right:0 }
.pr05{ padding-right:5px }
.pr20{ padding-right:20px }
.pl15{ padding-left: 15px}
.pl18{ padding-left: 18px}
.pl20{ padding-left: 20px}
.pl30{ padding-left: 30px}
.pb10{ padding-bottom:10px }
.pb20{ padding-bottom:20px }
.pb22{ padding-bottom:22px }
.pb30{ padding-bottom:30px }
.pb50{ padding-bottom:50px }
.mr0 { margin-right:0 }
.mr10 { margin-right:10px; }
.mt05 { margin-top:5px;}
.mt07 { margin-top:07px}
.mt10 { margin-top:10px}
.mt15 { margin-top:15px}
.mt20 { margin-top:20px}
.mb10 { margin-bottom:10px;}
.mb12 { margin-bottom:12px;}
.mb20 { margin-bottom:20px;}
.mb30 { margin-bottom:30px;}
.mb40 { margin-bottom:40px;}
.mb80 {margin-bottom:80px;}
.tx8 { font-size:8px;}

.gototop{ text-align: right; padding:0 10px 40px 0;}
.black{ color: 000; }
/* Container */
#container{ width:100%; margin:0 auto; padding:0;}

.hidden{ display: none; }
.display{ display: block;}
/* header */
#header{height:170px;}
#head_cont{ position: relative; width: 980px; margin: 0 auto;}
.header_bg{background: url(../images/header_bg.jpg) repeat-x;}
.header_tel{ position: absolute;right: 40px;top:30px;z-index: 3;}
.header_tel h3{ font-size: 18px;color:#8d8d8d;font-weight: normal;}
#g_navi { 
	margin: 0 auto;
	padding-top:30px;
	width: 980px;
}
#g_navi li{ float: left; padding:0 50px 0 0;}
#g_navi li:last-child{padding:0 0 0 12px;}
#g_navi li.menu{padding-top:64px;}



/* main */
#main_container{margin: 0 auto;}
#folder_list{ color: #666;}
#contents_ttl{ padding: 33px 0px 22px 0px; }

/* footer */
#footer{ color:#FFF; margin-top:30px;}
#footer a:link{ color: #FFF; text-decoration:none}
#footer a:visited{ color: #FFF; text-decoration:none}
#footer a:hover{ color:#AAA; text-decoration: underline}
#footer a:active{ color: #FFF; text-decoration:none}

.footer_content{ width: 860px; margin:0 auto;padding-top:20px;}
.footer_content img{padding-bottom:20px;}
.fo_cont{width:860px; margin: 0 auto;}

.above{float: left;margin:0 94px 30px 0;}
.above_l{float: left;margin:0 0 30px 0;}
.above li, .above_l{ line-height: 160%;}
.copy_right{ text-align: center; }

.mail a:link{ color: #FFF !important;}
.mail a:hover{ color: #AAA;}
.mail a:visited{ color: #FFF;}
.bg{background: url(../images/bg.jpg) repeat-x;}
.none{	overflow:none;text-indent:-9999px;height:0px;}	
.disnon{ display:none;}

