@charset "UTF-8";
/* index */
.index_contents {padding-top:20% !important;}

/* TOP */
#contents_folder_top{ width: 980px; margin: 0 auto;}
#visual_box{padding-top: 10px;}
#slide_box{ width: 980px;height: 500px;position: relative;overflow: hidden;}
#slide_box>div { position: absolute;top: 0;opacity: 0;}
#top_fb_box{ }
.fb_area{ width: 980px;   margin: 5px auto 0;}
#top_info{padding: 15px 22px 0px 12px;border-bottom: none;}
.fb_box { padding-bottom: 20px; }
.fb_tit h2{ font-size: 18px; font-weight: normal; line-height: 160%;}
.fb_img { width: 370px;}
.fb_img img{width: 350px;}
.fb_cont{width: 560px; line-height: 160%;}
.fb_cont_wmax{width: 980px; line-height: 160%;}
.more{padding: 0px 24px 16px 24px; color: #555; font-family:'Hiragino Mincho ProN',"ＭＳ 明朝","Hiragino Mincho Pro", serif; text-align:right;}
.more a:link, a:visited{ text-decoration:none;}
.more a:hover, a:active { text-decoration: underline;}

#news_tw{padding:0;}
.tw_cont{padding: 13px 20px; line-height: 160%;}
#news_tw hr, #news_tw hr{ border: 1px dashed #ececec;}
#news_tw hr:last-child, #news_tw hr:last-child{ border: none;}
#tw_area{ margin:20px auto 0;width:980px; }
.tw_area{width:32%; margin: 0 auto; border-right:1px solid #ccc; height:500px;}
.tw_cont{padding: 13px 20px 0 10px; line-height: 160%;}
.title_bar{ padding:10px 0 0 20px;}
.title_bar h2{ letter-spacing:0.05em;font-family:'Hiragino Mincho ProN',"ＭＳ 明朝","Hiragino Mincho Pro", serif; font-size:20px;color:#FFF; display: block; margin: 0 auto;}
.title_bar h2.newbar{width:66%;}
.title{width:980px;margin:0 auto;}
/* profile */
.profile{width: 980px;margin:0 auto;}
.profile li{float:left;}
.profile li.profile_txt{ width:296px;font-size:12px;}
.chef{text-align: right;margin-bottom: 20px;}
.chef span{font-size: 11px}
.chef h3{ font-size: 26px}

/* lunch */
.lunch_txt{ position: absolute;right:20px;top:40px;width:24%;}
.lunch_txt h2{color:#D7A400; font-size: 45px;margin-bottom: 20px}
.lunch_txt h3{font-size: 16px;margin-bottom: 13px}
.discrimer{font-size:75%;}

/* information */
#info_info{padding: 15px 22px 0px 12px;border: 1px dotted #ececec; overflow: auto; border-bottom: none;}
.title_bar_info{width:980px;}
.tw_area_info{margin: 0 auto; border-right:1px solid #ccc;}
.info_bar h2{color:#D7A400; font-size: 30px;letter-spacing:0em;}
#info_tw{padding:0;width:575px;float: left;}
.tw_cont_info{padding: 13px 20px; line-height: 160%;}
#info_tw hr, #info_tw hr{ border: 1px dashed #ececec;}
#info_tw hr:last-child, #info_tw hr:last-child{ border: none;}
.info_img{ float: right; padding: 13px 0 40px;}
.more_info{width:535px;}


/* access */
.access{width:980px;margin:0 auto;position: relative;}
.access ul{float:left;margin:0 30px 30px 10px;}
.access ul li{line-height: 160%;padding-bottom:30px;}
.access .attention{position: absolute; width: 48%;top:270px;display: block; border-top:1px solid #999;margin-top:16px;padding-top:16px; }
.access .attention p{padding:8px 0 12px 16px;font-size:12px;}
.gmap{float:right;margin:0 20px 100px 0}